<p id="notice"><%= notice %></p>
<body bgcolor="#99CCFF">
<h1><p style="color:orange"> What's your favorite fancy goldfish variety? </p> </h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <% @topics.each do |topic| %>
  <tr>
    <td><%= topic.title %></td>
    <td><%= pluralize(topic.votes.count, "vote") %></td>
    <td><%= button_to '+1', upvote_topic_path(topic), method: :post %></td>
  </tr>
<% end %>
  </tbody>
</table>
</body>
<br>
